table {
    width: 80%;
    margin: auto;
    text-align: center;
}

table tr:first-child {
    background-color: var(--theme);
    color: white;
}

table td, th {
    text-align: center;
    font-weight: 200;
    padding: 0 6px;
}

table tr {
    height: 60px;
    background-color: #ccddff;
    transition: .2s ease;
}

table tr:not(:first-child):hover {
    background-color: #b3ccff;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .table {
        width: 95%;
    }
}

div {
    background-color: white;
}

div button{
    height: 34px;
}

div input {
    height: 29px;
}