<sidebar></sidebar>
<div class="main-content">
  <p>home-page-center-admin works!</p>
  
  <div class="location-info">
    <div class="first-block">
      <div class="location-div">Location of the center</div>
      <div id="ol-map" class="map"></div>
    </div>
    <div class="second-block">
      <div class="info-div">Name: {{center.name}}</div>
      <div class="info-div">Street: {{center.address}}</div>
      <div class="info-div">Rating: {{center.rating}}</div>
    </div>
    
  </div>
  
  
</div>

